*{
    margin: 0px;
    padding: 0px;
   
}

.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.para{
    margin-left: 10px;
    font: normal normal normal 64px/85px Palatino;
    font-size: 80px;
    letter-spacing: 0px;
    color: #006238;
}
button{
    top: 508px;
    left: 1235px;
    width: 128px;
    height: 64px;
/* UI Properties */
    background: green;
    border: 5px solid #006238;
    border-radius: 16px;
    font-size: 30px;
}
button a{
    text-decoration: none;
    color: white;
    height: 40px;
    width: 50px;
}

#image{
    height:1000px;
    width: 800px;
    margin-top: 50px;
}
